/* body{
    background: #001e4d;
    font-family: Arial;
    margin: 0;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.qa-box{
    background-color: aqua;
    width: 500px;
    padding: 20px;
    min-height: 100px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
    border-radius: 15px;

}
.qa-header{
    background-color: blue;
    color: brown;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: -20px -20px;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
}
.qa-set{
    display: none;
}
.qa-set.active{
    display: block;
}
.qa-set h4{
    margin: 0 0 15px;
    font-size: 20px;
}
.qa-ans-row{
    position: relative;
    margin-bottom: 10px;
}
.qa-ans-row input{
   opacity: 0;
   position: absolute;
   left: 0; 
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   cursor: pointer;

}
.qa-ans-row span{
    display: block;
    padding: 8px 15px;
    background-color: blueviolet;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}
.qa-ans-row:hover span{
    background-color: lightpink;
}
.qa-ans-row input:checked + span{
    background-color: darkmagenta;
}
.qa-ans-row input[valid]:checked + span{
    background-color: purple;
    color: pink;
}
.qa-footer{
    padding: 10px 0 0;
} */
|* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: darkorange;
}
.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    padding-bottom: 30px;
    color: aqua;
    font-weight: 25px;
    color: #001e4d;
    border-bottom: 1px solid black;
}
.quiz{
   padding: 20px 0; 
}
.quiz h2{
    font-size: 18px;
    color: darkmagenta;
    font-weight: 600;
}
.btn{
    background-color: pink;
    color: purple;
    font-weight: 500;
    width: 100%;
    border: 1px solid darkmagenta;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
    color: aqua;
}
#next-btn{
    background-color: darkblue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: green;
}